:root {
  --font-serif: Georgia, Times, serif;
  --font-sans-serif: Arial, Helvetica, sans-serif;
  --font-monospace: "Lucida Console", Monaco, monospace;
  --bg-color: #f7f7f7;
  --main-color: #222;
  --table-dark-border: #9cacd1;
  --table-alt-bg-color: #e5eaf5;
  --ins-color: seagreen;
  --ins-bg-color: lightgreen;
  --del-color: indianred;
  --del-bg-color: lightpink;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: var(--font-sans-serif);
}

body > section {
  padding: 15px 40px;
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

table {
  border-bottom: 2px solid var(--table-dark-border);
  border-collapse: collapse;
  empty-cells: show;
}

th, td {
  padding: 5px 7px;
  border-right: 1px solid var(--table-dark-border);
  border-left: 1px solid var(--table-dark-border);
}

th {
  background-color: #cad9ef;
  border-bottom: 1px solid var(--table-dark-border);
}

tr:nth-child(1) > th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;
  border-bottom: 3px solid var(--table-dark-border);
  border-left: 1px solid var(--table-dark-border);
  border-right: 1px solid var(--table-dark-border);
}

tr:nth-child(even) {
  background-color: var(--table-alt-bg-color);
}

td {
  text-align: center;
}

ins {
  text-decoration: none;
  font-weight: bold;
}

del {
  font-style: italic;
}

a {
  color: teal;
  text-decoration: none;
  font-weight: bold;
}

/*------ header section ------*/
#header-section li {
  margin: 4px 0;
}

/*------ Randomization summary ------*/
#summary-section > p, #summary-section > ul {
  margin: 4px 0;
  padding: 9px 10px;
  border-left: 6px solid teal;
  background-color: #e7eeec;
}

#summary-section > ul {
  margin-left: 40px;
  border-left: 6px solid teal;
  padding-inline-start: 40px;
}

#summary-section > ul >li {
  margin: 8px 0;
}

#summary-section strong {
  padding: 3px 5px;
  background-color: #c8dbda;
  border-radius: 4px;
  border-bottom: 1px solid teal;
}

/*------ Units ------*/
/* index */
#units-section > ul {
  list-style-type: none;
}

#units-section > ul > li {
  display: inline-block;
  margin: 4px 2px;
  padding: 4px;
  min-width: 120px;
  text-align: center;
  border: 1px solid lightsteelblue;
  border-radius: 4px;
}

/*unit */
#units-section > section > em {
  display: block;
  margin: 10px 0;
  font-size: 0.9em;
}

#units-section > section > em > sup {
  font-size: 0.7em;
}

#units-section > section > p {
  margin: 4px 0 4px 20px;
}

#units-section > section > p > del {
  margin-left: 8px;
  font-size: 0.9em;
  padding: 2px 5px;
  background-color: #e7e7e7;
  color: #7a7a7a;
  border-radius: 4px;
}

#units-section > section > ul {
  list-style-type: none;
  margin: 8px 0;
  padding-left: 20px;
}

#units-section > section > ul li {
  display: inline-block;
  background-color: var(--table-alt-bg-color);
  padding: 4px 6px;
  border-radius: 4px;
  border-bottom: 1px solid var(--table-dark-border);
}

#units-section > section > ul > ins > li {
  background-color: var(--ins-bg-color);
  color: var(--ins-color);
  border-bottom: 1px solid var(--ins-color);
}

#units-section > section > ul > del > li {
  background-color: var(--del-bg-color);
  color: var(--del-color);
  border-bottom: 1px solid var(--del-color);
  text-decoration: line-through;
}

/*------ Portrait palettes ------*/
 #palettes-section > ul > li {
   margin: 4px 0;
 }

 #palettes-section > ul > li span {
   display: inline-block;
   min-width: 150px;
 }

 #palettes-section > ul > li span > span {
   min-width: unset;
   font-size: 0.6em;
   margin-left: 2px;
 }

 #palettes-section > ul > li > table {
   display: inline-block;
   margin-left: 12px;
   border: none;
 }

 #palettes-section > ul > li th {
   background-color: unset;
   border: unset;
   font-size: 0.7em;
   padding: 1px 4px;
 }

 #palettes-section > ul > li tr {
   background-color: unset;
 }

 #palettes-section > ul > li > table td {
   width: 16px;
   height: 16px;
   padding: 0;
   border: 1px solid var(--main-color);
 }

/*------ Items ------*/
#items-section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* skills */
#items-section ul li {
  display: inline-block;
  font-family: var(--font-monospace);
  font-size: 0.7em;
  padding: 1px 4px;
  margin: 1px 0;
  border-radius: 4px;
  border: 1px solid var(--table-dark-border);
}

#items-section ul > ins > li {
  border-color: var(--ins-color);
}

#items-section ul > del > li {
  font-weight: normal;
  border-color: var(--del-color);
  text-decoration: line-through;
}

/*------ Rewards ------*/
#rewards-section li {
  margin: 16px 0;
}

#rewards-section span, #rewards-section ins, #rewards-section del {
  padding: 4px 6px;
  border-radius: 4px;
}

#rewards-section span {
  background-color: var(--table-alt-bg-color);
  border-bottom: 1px solid var(--table-dark-border);
}

#rewards-section del {
  background-color: var(--del-bg-color);
  color: var(--del-color);
  border-bottom: 1px solid var(--del-color);
}

#rewards-section ins {
  background-color: var(--ins-bg-color);
  color: var(--ins-color);
  border-bottom: 1px solid var(--ins-color);
}

/*------ Shops ------*/
#shops-section > section {
  margin: 10px;
  float: left;
  display: inline-block;
  width: 240px;
  min-height: 240px;
}

#shops-section > section > div {
  padding: 0 12px;
}

/* title */
#shops-section > section > div:nth-child(1) {
  padding-top: 12px;
  padding-bottom: 6px;
  background-color: teal;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

#shops-section p {
  font-weight: bold;
  font-family: var(--font-serif);
  font-size: 1.2em;
  padding: 2px 10px;
  margin: 0;
}

/* Inventory */
#shops-section > section > div:nth-child(2) {
  padding-top: 6px;
  padding-bottom: 12px;
  background-color: #cce9de;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#shops-section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#shops-section li {
  padding: 5px 12px;
  margin: 3px 0;
  background-color: #def1ea;
  font-family: var(--font-monospace);
  border-radius: 4px;
  font-size: 0.8em;
}

#shops-section li > em {
  font-family: var(--font-serif);
  float: right;
  font-size: 1.3em;
}

#shops-section ins > li {
  background-color: #f3fbf8;
}

#shops-section del > li {
  background-color: #b9d9d2;
  color: #83938e;
  text-decoration: line-through;
  font-style: italic;
}

#shops-section del > li > em {
  text-decoration: line-through;
}

/*------ Army data section ------*/
#army-data {
    clear: both;
}

#army-data-section > ul > li {
	margin: 4px 0;
}

#army-data-section > section {
  height: 60px;
  width: 920px;
  border-bottom: 2px solid #31585e;
}

#army-data-section > section > div {
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
}

#army-data-section > section > div > em {
  display: block;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 8px;
  font-size: 0.9em;
}

#army-data-section > section > div:nth-child(1) > p,
#army-data-section > section > div:nth-child(3) > p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* number */
#army-data-section > section > div:nth-child(1) {
  background-color: var(--main-color);
  font-size: 1.4em;
  color: white;
  position: relative;
}

/* Character */
#army-data-section > section > div:nth-child(2) {
  width: 300px;
  background-color: #4295af;
  color: white;
}

#army-data-section > section > div:nth-child(2) > p {
  margin: 2px 8px;
}

#army-data-section > section > div:nth-child(2) > p > ins {
  font-size: 0.9em;
}

#army-data-section > section > div:nth-child(2) > p > del {
  font-size: 0.8em;
  background-color: #3d8095;
  color: #79c5d7;
  margin-left: 5px;
  padding: 2px 4px;
  border-radius: 4px;
}

/* level */
#army-data-section > section > div:nth-child(3) {
  background-color: #505050;
  color: white;
  font-size: 0.8em;
  position: relative;
}

#army-data-section > section > div:nth-child(3) > p > strong {
  margin-left: 2px;
  font-size: 1.4em;
}

/* Inventory */
#army-data-section > section > div:nth-child(4) {
  width: 500px;
  background-color: #c7f3f5;
}

#army-data-section > section > div:nth-child(4) > p {
  margin-left: 6px;
}

#army-data-section > section > div:nth-child(4) > ul {
  margin: 0;
  padding: 2px 8px;
}

#army-data-section > section > div:nth-child(4) li {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px 0;
  font-size: 0.7em;
  font-family: var(--font-monospace);
  background-color: var(--table-alt-bg-color);
  border-radius: 4px;
  border-bottom: 1px solid var(--table-dark-border);
}

#army-data-section > section > div:nth-child(4) > ul > ins > li {
  font-weight: bold;
  background-color: var(--ins-bg-color);
  color: var(--ins-color);
  border-bottom: 1px solid var(--ins-color);
}

#army-data-section > section > div:nth-child(4) > ul > del > li {
  font-style: italic;
  text-decoration: line-through;
  background-color: var(--del-bg-color);
  color: var(--del-color);
  border-bottom: 1px solid var(--del-color);
}

/*------ Map ------*/

.map {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border: unset;
}

.map tr {
  background-color: unset;
}

.map td {
  width: 18px;
  height: 18px;
  padding: 2px;
  color: gray;
  font-size: 0.7em;
  font-weight: bold;
  border: 1px solid var(--table-dark-border);
}

.unit {
  background-color: #deefee;
}

/*------ Multiple ------*/
#scrolls-section ins, #scrolls-section del,
#items-section td > ins, #items-section td > del,
#units-section td > ins, #units-section td > del,
#units-section li > ins, #units-section li > del {
  margin-left: 2px;
  font-size: 0.6em;
  font-family: var(--font-monospace);
  padding: 0 2px;
  border-radius: 2px;
}

#scrolls-section ins,
#items-section ins, #items-section ul > ins > li,
#units-section td > ins, #units-section li > ins {
  background-color: var(--ins-bg-color);
  color: var(--ins-color);
}

#scrolls-section del,
#items-section del, #items-section ul > del > li,
#units-section td > del, #units-section li > del {
  background-color: var(--del-bg-color);
  color: var(--del-color);
  font-weight: bold;
  text-decoration: none;
}
